:{$PORT}

root * /app/dist
encode gzip

route {
  handle /__caddy* {
    respond "caddyfile-ok" 200
  }

  handle_path /api/* {
    reverse_proxy https://confident-grace-production-331f.up.railway.app
  }

  try_files {path} /index.html
  file_server
}